h2, p, a, img {
    margin: 10px;
} 
html {
    background-color: lightgray;
}
body {
    margin-left: 100px;
    margin-right: 100px;
}
header {        
    background-color: darkgreen;
    color: white;        
}
h1 {
    margin-left: 10px;
    font-size: 60px;
    font-family: fantasy;
}
h2 {    
    font-size: 40px;
    font-family: fantasy;   
    border-bottom: 2px black solid;
}
nav {    
    display: block;
    background-color: lightgreen;
}
nav a {
    color: darkorange;
    font-size: 30px;
    font-family: fantasy;
    margin: 10px;
}
nav a:hover {
    color: white;    
}

main {
    background-color: white;
    margin-top: 20px;
}
p {
    font-size: 30px;
    font-family: serif; 
}
a {
    font-size: 30px;   
}
.name {
    font-size: 30px;
    font-family: serif;
    font-style: bold;
    margin: 10px;
}
footer {
    background-color: darkgreen;
    margin-top: 20px;
    height: auto;
}
footer a {
    color: darkorange;
    font-size: 30px;
    font-family: fantasy;    
    padding-top: 20px;
}
footer a:hover {
    color: white;
}
#copyright {
    margin: 10px;
    color: white;
    font-size: 25px;
    font-family: serif;    
    padding-bottom: 20px;
}
img {
    height: 250px;
    width: 250px;
}