.p1 {
    background-color: pink;
    color: blue;
    font-family: serif;
    font-size: 12pt;
}
.p2 {
    background-color: green;
    color: white;
    font-family: fantasy;
    font-size: 14pt;    
}
