main {
    width: 90%;
}
header {
    background-color: darkred;        
    padding: 1%;       
}
h1 {
    color: white;
    font-style: normal;
    font-family: sans-serif;
    font-size: 25pt;
    text-align: center;
}
table {   
    width: 100%; 
    padding-left: 2em; 
    padding-right: 2em;
    padding-top: 1em; 
    padding-bottom: 1em;
    border: 1pt solid black;    
}
td {
    border: 1pt solid gray;
    font-size: 16pt;
    font-family: helvetica;
    text-align: center;
}
th {
    border: 1pt solid gray;
    font-family: fantasy;    
    font-size: 20pt;
    background-color: lightgray;
    text-align: center;
}
img {
    border-radius: 25pt;
    margin: 5pt;
    width: 200px;
    height: 300px;
}
