html {
    background-color: lightseagreen;
}
label {
    font-size: 20pt;
    font-family: sans-serif;
    font-weight: bold;
}
.centered {
    position: fixed;
    top: 30%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
  }
input[type=submit] {
    background-color: #3c53b9;
    color: white;
    border: none;
    padding: 5pt;
    width: 100%;
}
input[type=submit]:hover {
    background-color: darkblue;
}
.textfield {
    margin-top: 10pt;
    font-size: 16pt;
    width: 100%;
}
#registrationForm {
    background-color: white;
    padding: 20pt; 
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5); 
}
